---
layout: base.liquid
pageType: image
tags: images
pagination:
  data: images
  size: 1
  alias: image
  addAllPagesToCollections: true
permalink: "image/{{ image.file | slugify }}/"
eleventyComputed:
  imageTitle: "{{ image.metadata.title  }}"
  description: "{{image.metadata.story}}"
  path: "{{image.meta.url}}"
  alt: "{{image.metadata.altText}}"
  collection: "{{image.metadata.collection}}"
  backLinkWording: "Back to {{ site.gallery.groupBy |  downcase}}"
  groupingName: "{{image.metadata.collection}}"
  shortDate: "{{image.metadata.year}}-{{image.metadata.month}}"
  portrait: "{{image.metadata.portrait}}"
---
{% assign hasLocation = image.metadata.location | size %}
{% if image.metadata.collection and hasLocation > 0 %}
  <div class="location"><small><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" /></svg><span>{{ image.metadata.location }}, {{ image.metadata.collection }}</span></small></div>
{% elsif image.metadata.collection AND hasLocation == 0 %}
  <div class="location"><small><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-stack"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 6l-8 4l8 4l8 -4l-8 -4" /><path d="M4 14l8 4l8 -4" /></svg> <span>{{ image.metadata.collection }}</span></small></div>
{% endif %}
<h1 id="image-title">{{ image.metadata.title }}</h1>
<aside id="image-details">
  {% if image.metadata.year AND image.metadata.month %}
    {% capture datestamp %}
      {{ image.metadata.year }}-{{ image.metadata.month }}
    {% endcapture %}
    <div>
      <time datetime="{{ image.metadata.year }}-{{ image.metadata.month }}">{{ datestamp | date: "%Y-%m" }}</time>
    </div>
  {% endif %}
  {% if image.metadata.camera %}
    <div><small>{{ image.metadata.camera }}</small></div>
  {% endif %}
  {% if image.metadata.film %}
    <div><small>{{ image.metadata.film }}</small></div>
  {% endif %}
</aside>
{% if image.metadata.portrait %}
  {% assign orientation = "portrait" %}
{% else %}
  {% assign orientation = "landscape" %}
{% endif %}
<div class="image-holder" data-orientation="{{ orientation }}">
  <section id="main-image">
    <p>{{ image.metadata.story }}</p>
    <img loading="eager" decoding="async" src="{{ image.meta.url | cloudinarySource }}" alt="{{ image.metadata.altText }}" width="2075" height="1463" sizes="100vw">
  </section>
  <nav role="image-navigation" class="image-nav">
    <ol>
      <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><span>
        <img loading="lazy" decoding="async" src="{{ pagination.page.previous.meta.url | cloudinarySource }}" alt="Previous image" height="130" width="230" srcset="{{ pagination.page.previous.meta.url | cloudinarySrcset }}" sizes="30vw">
        <p>Previous</p>
      </span></a>{% endif %}</li>
      <li><span>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">
        <img loading="lazy" decoding="async" src="{{ pagination.page.next.meta.url | cloudinarySource }}" alt="Next image" height="130" width="230" srcset="{{ pagination.page.next.meta.url | cloudinarySrcset }}" sizes="30vw">
        <p>Next</p>
      </a></span>{% endif %}</li>
    </ol>
  </nav>
</div>


<script>
if (
  HTMLScriptElement.supports &&
  HTMLScriptElement.supports("speculationrules")
) {
  console.log("Speculation rules supported");
  const specScript = document.createElement("script");
  specScript.type = "speculationrules";
  const specRules = {
    prefetch: [
      {
        source: "list",
        urls: ["{{ pagination.href.next }}", "{{ pagination.href.previous }}"],
      },
    ],
  };
  specScript.textContent = JSON.stringify(specRules);
  document.body.append(specScript);
} else {
  const linkElemNext = document.createElement("link");
  const linkElemPrev = document.createElement("link");
  linkElemNext.rel = "prefetch";
  linkElemPrev.rel = "prefetch";
  linkElemNext.href = "{{pagination.href.next}}";
  linkElemPrev.href = "{{pagination.href.previous}}";
  document.head.append(linkElem);
}
</script>
