---
layout: base.liquid
pageType: image
pagination:
  data: images
  size: 1
  alias: image
permalink: "image/{{ image.file | slugify }}/"
---
<section id="main-image">
  <img src="../static/images/{{ image.file }}" alt="" eleventy:widths="800,1600,2200" sizes="100vw" loading="eager" decoding="async" >
</section>
<nav role="image-navigation" class="image-nav">
  <ol>
    <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><span>
      <img src="../static/images/{{ pagination.page.previous.file }}" alt="Previous image" height="110" width="190" sizes="30vw">
      <p>Previous</p>
    </span></a>{% endif %}</li>
    <li><span>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">
      <img src="../static/images/{{ pagination.page.next.file }}" alt="Next image"  height="110" width="190" sizes="30vw">
      <p>Next</p>
    </a></span>{% endif %}</li>
  </ol>
</nav>