---
layout: base.liquid
pageType: image
tags: images
pagination:
  data: images
  size: 1
  alias: image
  addAllPagesToCollections: true
permalink: "image/{{ image.file | slugify }}/"
eleventyComputed:
  imageTitle: "{{ image.metadata.title  }}"
  description: "{{image.metadata.story}}"
  path: "{{image.meta.path}}"
  alt: "{{image.metadata.altText}}"
---

{% if image.metadata.collection AND image.metadata.location %}
  <div class="location"><small><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" /></svg><span>{{ image.metadata.location }}, {{ image.metadata.collection }}</span></small></div>
{% elsif image.metadata.collection %}
  <div><small>{{ image.metadata.collection }}</small></div>
{% endif %}
<h1>{{ image.metadata.title }}</h1>
<aside>
  {% if image.metadata.year AND image.metadata.month %}
    {% capture datestamp %}
      {{ image.metadata.year }}-{{ image.metadata.month }}
    {% endcapture %}
    <div>
      <time datetime="{{ image.metadata.year }}-{{ image.metadata.month }}">{{ datestamp | date: "%Y-%m" }}</time>
    </div>
  {% endif %}
  {% if image.metadata.camera %}
    <div><small>{{ image.metadata.camera }}</small></div>
  {% endif %}
  {% if image.metadata.film %}
    <div><small>{{ image.metadata.film }}</small></div>
  {% endif %}
</aside>
{% if image.metadata.portrait %}
  {% assign orientation = "portrait" %}
{% else %}
  {% assign orientation = "landscape" %}
{% endif %}
<div class="image-holder" data-orientation="{{ orientation }}">
  <section id="main-image">
    <p>{{ image.metadata.story }}</p>
    <img src="../static/images/{{ image.file }}" alt="{{ image.metadata.altText }}" eleventy:widths="800,1600,2200" sizes="100vw" loading="eager" decoding="async" >
  </section>
  <nav role="image-navigation" class="image-nav">
    <ol>
      <li>{% if pagination.href.previous %}<a href="{{ pagination.href.previous }}"><span>
        <img src="../static/images/{{ pagination.page.previous.file }}" alt="Previous image" height="110" width="190" sizes="30vw">
        <p>Previous</p>
      </span></a>{% endif %}</li>
      <li><span>{% if pagination.href.next %}<a href="{{ pagination.href.next }}">
        <img src="../static/images/{{ pagination.page.next.file }}" alt="Next image"  height="110" width="190" sizes="30vw">
        <p>Next</p>
      </a></span>{% endif %}</li>
    </ol>
  </nav>
</div>