<header {% unless pageType == 'gallery' %} class="image" {% endunless %}>
    {% if pageType == 'gallery' %}
    <span class="hero">
        {% lowQualityImage heroImage, "Hero image", "hero--lqip" %}

        <span>
            <h1>Film</h1>
            <small>{{ tagline | default: site.tagline }}</small>
        </span>
    </span>
    {% else %}
    <span>
        <h1>Film</h1>
        <small>{{ tagline | default: site.tagline }}</small>
    </span>
    {% endif %}

        {% unless pageType == 'gallery' %}
            <nav>
                <ul>
                    <li>
                        {% assign group = site.gallery.group %}
                        {% if group and pageType == 'image' %}
                            {% assign groupByField = site.gallery.groupBy %}
                            <a href="/#{{site.gallery.groupBy |  downcase }}-{{ groupingName |  downcase }}">&larr; {{ backLinkWording }}</a>
                        {% else %}
                        <a href="/">&larr; Back to gallery</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        {% else %}

        {% assign group = site.gallery.group %}
        {% assign groupByField = site.gallery.groupBy %}
        {% assign groupBy = "metadata." |  concat: groupByField %}

        {% assign galleryImages = images | group_by: groupBy %}

        <nav>
            <ul>
                {% for grouping in galleryImages %}
                    <li>
                            <a
                                href="#{{ groupByField}}-{{ grouping.name | downcase }}"
                                data-has-new={{ grouping.name | downcase | groupingHasNew: grouping.items }}
                            >
                            {{ grouping.name }}
                            </a>
                            </li>
                {% endfor %}
            </ul>
        </nav>
        {% endunless %}
    </header>
